table {
  font-family: arial, times new roman;
  border-collapse: collapse;
  margin-bottom: 4em;
  width: 100%;
}

.table-box {
line-height: 2em;
margin: 0 auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;
padding: 2em 0 3em:
padding-top: 2em;
padding-right: 0px;
padding-bottom: 3em;
padding-left: 0px;
width: 75%;
overflow: hidden;
overflow-x: hidden;
overflow-y: hidden;
}

td, th {
  border: 0px solid #000000;
  text-align: left;
  padding: 8px;
}
th {
background-color: #315790;
font-weight: bold;
text-align: left;
color: #fff;
white-space: nowrap;
}
td {
font-family: calibri;
}
.item-collapse {
background-color: #f5f5f5;
transition: all .125s ease-in-out;
transition-property: all;
transition-duration: 0.125s;
transition-timing-function: ease-in-out;
transition-delay: 0s;
}
